.Account-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100vw;
  height: 100vh;
}
.Account-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 600px;
  background-color: rgba(0, 0, 0, 0.7); /* 반투명 배경 */
  z-index: 1; /* 로그인 폼을 앞으로 보냄 */
}
