.SliderMain {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: -2;
}

.sliderBg {
  width: 100%; /* 화면 너비에 맞게 조정 */
  height: 100vh; /* 화면 높이에 맞게 조정 */
  object-fit: cover; /* 이미지 비율을 유지하면서 요소를 덮도록 설정 */
  pointer-events: none;
  z-index: -2;
}
